# Name: Octane
# Author: Ji Yu
# Version: 0.0.2
# Date: 2008/11/17

# Plugins>Octane, "Find Peaks", OctanePlugin("findpeaks")
Plugins>Octane, "Show Browser", OctanePlugin("browser")
Plugins>Octane, "Options", OctanePlugin("options")
#Plugins>Octane, "HPFilter", edu.uchc.octane.hpfilter.HPFilter("")
#Plugins>Octane, "Overlay", edu.uchc.octane.overlay.Overlay("")
