# Name: Octane
# Author: Ji Yu
# Version: 1.2
# Date: 2009/11/17

Plugins>Octane, "Analyze image stack", edu.uchc.octane.OctanePlugin("browser")
Plugins>Octane, "Load previous analysis", edu.uchc.octane.OctanePlugin("load")
Plugins>Octane, "Import from text file", edu.uchc.octane.OctanePlugin("import")

# Plugins>Octane, "Options", edu.uchc.octane.OctanePlugin("options")
# Plugins>Octane, "HPFilter", edu.uchc.octane.hpfilter.HPFilter("")
# Plugins>Octane, "Overlay", edu.uchc.octane.overlay.Overlay("")
